@import '../../var.css';

.Skill{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.skillContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 100px 10px 10px 10px;
    width: 80%;
    height: 100%;
    border-top: 1px solid rgba(0, 0,0, 0.2);
}

.skillContainer p{
    color: var(--black-text);
    font-size: var(--medium-font);
    font-weight: 500;
    text-align: start;
}

.skillContainer .sp1{
    color: var(--black-text);
    font-size: 25px;
    font-weight: 500;
    text-align: start;
}

@media only screen and (max-width:470px){
    .Skill{
        font-size: 11px;
        height: 60vh;
    }
    
    .skillContainer{
        padding: 50px 10px 10px 10px;
        align-items: center;
        justify-content: start;
    }

    .skillContainer .sp1{
        font-size: 20px;
        text-align: center;
    }
}