@import '../../var.css';

.project{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.colorBox5{
    position: absolute;
    top: 5vh;
    left: 2vw;
    width: 40vw;
    height: 70vh;
    background-color: #2d285e86;
    border-radius: 100%;
    filter: blur(100px);
    z-index: 0;
}

.colorBox6{
    position: absolute;
    bottom: 8vh;
    right: 2vw;
    background-color: #75245e86;
    width: 40vw;
    height: 70vh;
    border-radius: 100%;
    filter:blur(100px);
    z-index: 0;
}

.projectBox{
    position: relative;
    width: 80vw;
    height: 70vh;
    background-image: radial-gradient(circle,rgba(95, 11, 99, 0.1)50%, rgba(0, 0, 0, 0.2)50%);
    border-top: 5px solid rgba(139, 138, 138, 0.552);
    border-bottom: 5px solid rgba(139, 138, 138, 0.556);
}

.projText{
    position: absolute;
    top: -30px;
    left: 35vw;
    padding: 5px;
    font-size: var(--medium-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}