@import "/src/var.css";

.nav{
    position: fixed;
    top: 15px;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.navContainer{
    background-color: rgba(255, 255, 255, 0.19);
    box-shadow: 0px 0px 900px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    width: 90%;
    height: 100%;
}

.nav img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 100px;
    filter: drop-shadow(0px 0px 30px black);
}

.sectionName{
    margin-right: 200px;
}

.sectionName p{
    color: var(--secondary-color);
    font-size: var(--medium-font);
    font-weight: 600;
}

@media only screen and (max-width:470px){

    .nav{
        height: 50px;
    }
    
    .nav img{
        width: 50px;
        height: 50px;
        margin-left: 10px;
        filter: none;
    }
    
    .sectionName{
        margin-right: 20px;
    }

    .sectionName p{
        font-size: var(--small-font);
    }
}