:root{
    /* Colors */
    --white-text: #f0eaea;
    --gray-text: #838282;
    --black-text: #3D3D3D;
    --primary-color: #FFB300;
    --secondary-color: #8923c9;
    --bg-color: #F3F3F3;

    /* Sizes */
    --small-font: 1em;
    --medium-font: 1.3em; 
    --large-font: 2.5em;
}